<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>servlets.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editUser</servlet-name>
        <servlet-class>servlets.EditUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>servlets.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Show</servlet-name>
        <servlet-class>servlets.Show</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>servlets.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProduct</servlet-name>
        <servlet-class>servlets.EditProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>servlets.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cartProducts</servlet-name>
        <servlet-class>servlets.CartProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartProducts</servlet-name>
        <servlet-class>servlets.CartProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartIncDec</servlet-name>
        <servlet-class>servlets.CartIncDec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCart</servlet-name>
        <servlet-class>servlets.RemoveFromCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartCheckOut</servlet-name>
        <servlet-class>servlets.CartCheckOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowStores</servlet-name>
        <servlet-class>servlets.ShowStores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserOrders</servlet-name>
        <servlet-class>servlets.UserOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPanel</servlet-name>
        <servlet-class>servlets.AdminPanel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStore</servlet-name>
        <servlet-class>servlets.AddStore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllOrders</servlet-name>
        <servlet-class>servlets.AllOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditUser</servlet-name>
        <servlet-class>servlets.AdminEditUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteUser</servlet-name>
        <servlet-class>servlets.AdminDeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStore</servlet-name>
        <servlet-class>servlets.DeleteStore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStore</servlet-name>
        <servlet-class>servlets.EditStore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerPanel</servlet-name>
        <servlet-class>servlets.ManagerPanel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderItems</servlet-name>
        <servlet-class>servlets.OrderItems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Comments</servlet-name>
        <servlet-class>servlets.Comments</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editUser</servlet-name>
        <url-pattern>/editUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Show</servlet-name>
        <url-pattern>/Show</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProduct</servlet-name>
        <url-pattern>/EditProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cartProducts</servlet-name>
        <url-pattern>/cartProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartProducts</servlet-name>
        <url-pattern>/CartProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartIncDec</servlet-name>
        <url-pattern>/CartIncDec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCart</servlet-name>
        <url-pattern>/RemoveFromCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartCheckOut</servlet-name>
        <url-pattern>/CartCheckOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowStores</servlet-name>
        <url-pattern>/ShowStores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserOrders</servlet-name>
        <url-pattern>/UserOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPanel</servlet-name>
        <url-pattern>/AdminPanel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStore</servlet-name>
        <url-pattern>/AddStore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllOrders</servlet-name>
        <url-pattern>/AllOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditUser</servlet-name>
        <url-pattern>/AdminEditUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteUser</servlet-name>
        <url-pattern>/AdminDeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStore</servlet-name>
        <url-pattern>/DeleteStore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStore</servlet-name>
        <url-pattern>/EditStore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerPanel</servlet-name>
        <url-pattern>/ManagerPanel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderItems</servlet-name>
        <url-pattern>/OrderItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Comments</servlet-name>
        <url-pattern>/Comments</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>ShowStores</welcome-file>
    </welcome-file-list>
</web-app>
